:root {
  --main-color: #808080;
  --text-base: 16px;
  --text-sm: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  background-color: #FAFAFA;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 150px;
}

.links {
  list-style: none;
  margin-bottom: 129px;
}

.link {
  margin-bottom: 57px;
}

.svg {
  vertical-align: -0.1em;
  margin-right: 30px;
}

.url {
  font-size: var(--text-base);
  text-decoration: none;
  color: var(--main-color);
}

.url:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
}

.copy {
  font-size: var(--text-sm);
  color: #CDCDCD;
}
